{% extends 'base.html' %}
{% load static %}

{% block title %}Gallerie | Antik Hoelzli{% endblock %}

{% block content %}
<div class="gallerie-image">
  <img src="{% static 'style/images/panorama/art/pretty_pepper_books.png' %}" alt="Barockmöbel" />
  <div class="gallerie-label">Gallerie.</div>
</div>

<div class="sorting-container">
  <button type="button" class="btn btn-sorting">Price Range</button>
  <div class="dropdown">
    <button class="btn btn-sorting dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Dropdown button</button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  <button type="button" class="btn btn-sorting">Year</button>
</div>

<div class="gallerie-items-container">
  {% for item in items %}
  <div class="card-container" style="position: relative;">
    <a href="{% url 'furniture_detail' item.id %}" class="card-link">
      <div class="card card-horizontal" style="width: 100%;">
        {% if item.images.first %}
          <div class="image-container" style="background-image: url('{{ item.images.first.image.url }}');"></div>
        {% else %}
          <div class="image-container" style="background-color: #eee; text-align: center; display: flex; align-items: center; justify-content: center; height: 200px;">
            No image available
          </div>
        {% endif %}
        <div class="text-content">
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text"><strong>Age:</strong> {{ item.age }}</p>
            <p class="card-text"><strong>Dimensions:</strong> {{ item.dimensions }}</p>
            <p class="card-text price-text"><strong>{{ item.price }} €</strong></p>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

<div class="choice-wrapper">
  <img src="{% static 'style/images/panorama/lea_thomas/ai_lea_table.png' %}" alt="Background">
  <div class="buttons-overlay">
    <a href="{% url 'leistungen' %}" class="button-link">Leistungen</a>
    <a href="{% url 'fragen' %}" class="button-link">Frage und Angebote</a>
  </div>
</div>
{% endblock %}